html, body {
    margin:0;
    padding:0;
    background:url(pattern.png);
}

body {
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:3em;
    width:700px;
    padding:16px;
    background:rgba(255,255,255,0.6);
    font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-family:sans-serif;
}

div#about p, ul {
    margin:1em 3em;
}

h1, h2, h3, h4, p#subtitle, p#current, p#footer, div#halmos, div.center {
    text-align:center;
}

h2, h3 {
    font-weight:100;
}

iframe {
    border:0;
    display:block;
    margin:auto;
}

div#about {
    text-align:justify;
}

li {
    text-align:normal;
}

p#footer {
    padding-top:2em;
    font-size:smaller;
}

p#current {
    margin:2em 4em;
    padding:16px;
    border:1px solid silver;
    border-radius:8px;
    background:lightyellow;
    font-size:1.2em;
    line-height:1.6em;
}

p#latest {
    margin:auto;
    text-align:center;
}

p#highlights {
    margin-top:2em;
}

div#halmos {
    font-size:32px;
}

div#halmos a {
    text-decoration:none;
}

table {
    margin:auto;
    margin-bottom:3em;
    border-collapse:collapse;
}

table th, table td {
    padding:0.2em 0.6em;
}

table th {
    text-align:left;
    padding-top:2em;
}
